ul {
	list-style: none;
}

li {
	margin: 0px;
}

#loadimage {
	width: 860px;
	overflow: hidden;
}

.imagelabel {
	float: left;
	width: 60px;
	height: 25px;
}

.imagepath {
	float: left;
	width: 400px;
	height: 25px;
}

.loadinfo {
	float: left;
	width: 400px;
	height: 25px;
}