<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sys.spvisor.core.dao.ana.TPeoplePoststatusMapper" >
  <resultMap id="BaseResultMap" type="sys.spvisor.core.entity.ana.TPeoplePoststatus" >
    <id column="post_status_id" property="postStatusId" jdbcType="INTEGER" />
    <result column="post_status_des" property="postStatusDes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    post_status_id, post_status_des
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_people_poststatus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_people_poststatus
    where post_status_id = #{postStatusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_people_poststatus
    where post_status_id = #{postStatusId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatusExample" >
    delete from t_people_poststatus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatus" >
    insert into t_people_poststatus (post_status_id, post_status_des)
    values (#{postStatusId,jdbcType=INTEGER}, #{postStatusDes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatus" >
    insert into t_people_poststatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postStatusId != null" >
        post_status_id,
      </if>
      <if test="postStatusDes != null" >
        post_status_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postStatusId != null" >
        #{postStatusId,jdbcType=INTEGER},
      </if>
      <if test="postStatusDes != null" >
        #{postStatusDes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatusExample" resultType="java.lang.Integer" >
    select count(*) from t_people_poststatus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_people_poststatus
    <set >
      <if test="record.postStatusId != null" >
        post_status_id = #{record.postStatusId,jdbcType=INTEGER},
      </if>
      <if test="record.postStatusDes != null" >
        post_status_des = #{record.postStatusDes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_people_poststatus
    set post_status_id = #{record.postStatusId,jdbcType=INTEGER},
      post_status_des = #{record.postStatusDes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatus" >
    update t_people_poststatus
    <set >
      <if test="postStatusDes != null" >
        post_status_des = #{postStatusDes,jdbcType=VARCHAR},
      </if>
    </set>
    where post_status_id = #{postStatusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sys.spvisor.core.entity.ana.TPeoplePoststatus" >
    update t_people_poststatus
    set post_status_des = #{postStatusDes,jdbcType=VARCHAR}
    where post_status_id = #{postStatusId,jdbcType=INTEGER}
  </update>
</mapper>