<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- 采用DBCP连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://127.0.0.1:5432/spvisor"></property>
		<property name="username" value="postgres"></property>
		<property name="password" value="123456"></property>
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="maxWait" value="10"></property>
		<property name="defaultAutoCommit" value="false"></property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--指定要用到的连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 多个package用逗号或分号隔开 -->
		<property name="typeAliasesPackage"
			value="sys.spvisor.core.entity.ana,
			 sys.spvisor.core.entity.people,
			 sys.spvisor.core.entity.project,
			 sys.spvisor.core.entity.process,
			sys.spvisor.core.criteria.ana,
			sys.spvisor.core.criteria.project,
			sys.spvisor.core.criteria.file,
			sys.spvisor.core.entity.work,
			sys.spvisor.core.entity.message,
			sys.spvisor.core.entity.examine,
			sys.spvisor.core.entity.attendance,
			sys.spvisor.core.entity.file" />

		<!-- 所有配置的mapper文件 -->
		<property name="mapperLocations" value="classpath*:sys/spvisor/core/dao/**/*.xml" />
	</bean>


	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"
		scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- 文件上传的 MultipartResolver -->
	<!-- 这样一旦某个Request是一个MultipartRequest，它就会首先被MultipartResolver处理，然后再转发相应的Controller。 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<!-- <property name="maxUploadSize" value="20480000" />
		<property name="maxInMemorySize" value="1024000" /> -->
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 多个package用逗号或分号隔开 -->
		<property name="basePackage"

			value="sys.spvisor.core.dao.ana,
			sys.spvisor.core.dao.file,
			sys.spvisor.core.dao.project,
			sys.spvisor.core.dao.people,
			sys.spvisor.core.dao.journal,
			sys.spvisor.core.dao.work,
			sys.spvisor.core.dao.process,
			sys.spvisor.core.dao.message,
			sys.spvisor.core.dao.examine,
			sys.spvisor.core.dao.attendance" />

	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan
		base-package="sys.spvisor.core.service.ana,
		sys.spvisor.core.service.file,
		sys.spvisor.core.service.project,
		sys.spvisor.core.service.people,
		sys.spvisor.core.service.journal,
		sys.spvisor.core.service.work,
		sys.spvisor.core.service.process,
		sys.spvisor.core.service.message,
		sys.spvisor.console.test,
		sys.spvisor.core.dao.examine,
		sys.spvisor.core.service.examine,
		sys.spvisor.core.service.file,
		sys.spvisor.core.service.attendance,
		sys.spvisor.core.service.user.center" />

</beans> 