<a name=""></a>.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-list{
	background:url('icons/list.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-accept{
	background:url('icons/accept.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-undoBidding{
	background:url('icons/undoBidding.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-view{
	background:url('icons/preview.png') no-repeat;
}

.icon-download{
	background:url('icons/download.png') no-repeat;
}

.icon-return{
	background:url('icons/return.png') no-repeat;
}

.icon-close{
	background:url('icons/close.png') no-repeat;
}

.icon-user{
	background:url('icons/user.png') no-repeat;
}

.icon-home{
	background:url('icons/home.png') no-repeat;
}

.icon-password{
	background:url('icons/password.png') no-repeat;
}

.icon-logout{
	background:url('icons/logout.png') no-repeat;
}

.icon-menu-ADD_CONTRACT{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-ADD_AR{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-AR_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-CONTRACT_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-BIDDING_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-SELLER_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-BUYER_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-ADD_SELLER{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-ADD_BUYER{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-BORROWER_REPAYMENT_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-APPROVED_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-CONTRACT_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-ADD_USER{
	background:url('icons/user_add.png') no-repeat;
}
.icon-menu-ADD_CONTRACT{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-USER_LIST{
	background:url('icons/user_list.png') no-repeat;
}

.icon-menu-ADD_ROLE{
	background:url('icons/user_add.png') no-repeat;
}

.icon-menu-ROLE_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-ADD_RECEIVABLES{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-menu-RECEIVABLES_LIST {
	background:url('icons/list.png') no-repeat;
}
.icon-menu-PUBLISH_APPVORAL
{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-PROJECT_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-ADD_BORROWER{
	background:url('icons/edit_add.png') no-repeat;
}


.icon-menu-INVESTOR_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-INVESTMENT_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}

.icon-reset{background:url('icons/reset.png') no-repeat;
}

.icon-check{background:url('icons/check.png') no-repeat;
}

.icon-menu-FUND_OUT_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-FUND_OUT_EXECUTE{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-DEPOSIT_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-OFFLINE_DEPOSIT{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-BATCH_DEPOSIT{
	background:url('icons/edit_add.png') no-repeat;
}

.icon-menu-PROJECT_REPAYMENT_PLAN{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-INVESTMENT_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-BORROWER_REPAYMENT_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-ADD_BORROWER_ASSIGN_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-WITHDRAW_LIST{
	background:url('icons/list.png') no-repeat;
}						
.icon-menu-WITHDRAW_AUDIT{
	background:url('icons/WITHDRAW_AUDIT.png') no-repeat;
}
.icon-menu-AUDIT_DEPOSIT{
	background:url('icons/WITHDRAW_AUDIT.png') no-repeat;
}
.icon-menu-PARAM_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-PARAM_ADD{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-menu-BIZLOG_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-TIMERJOBLOG_LIST{
	background:url('icons/list.png') no-repeat;
}

.icon-menu-ANNOUN_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-ANNOUN_ADD{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-menu-PUBLISH_APPVORAL{
	background:url('icons/WITHDRAW_AUDIT.png') no-repeat;
}
.icon-menu-APPROVED_LIST{
	background:url('icons/WITHDRAW_AUDIT.png') no-repeat;
}
.icon-menu-DAILY_RPT_FUND{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-MONTHLY_RPT_FUND{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-SEND_MESSAGE{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-menu-SMS_BATCH_LIST{
	background:url('icons/list.png') no-repeat;
}
.icon-menu-DASH_BOARD{
	background:url('icons/chart_bar.png') no-repeat;
}

.icon-menu-SEND_MAIL{
	background:url('icons/email_add.png') no-repeat;
}
.icon-menu-MAIL_LIST{
	background:url('icons/email.png') no-repeat;
}
.icon-menu-TRANSFER_LIST{
	background:url('icons/list.png') no-repeat;
}