<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sys.spvisor.core.dao.project.TQuestionFileFormMapper" >
  <resultMap id="BaseResultMap" type="sys.spvisor.core.entity.project.TQuestionFileForm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="t_problem_id" property="tProblemId" jdbcType="INTEGER" />
    <result column="t_type" property="tType" jdbcType="INTEGER" />
    <result column="t_file_form_id" property="tFileFormId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, t_problem_id, t_type, t_file_form_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="sys.spvisor.core.entity.project.TQuestionFileFormExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_question_file_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_question_file_form
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_question_file_form
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="sys.spvisor.core.entity.project.TQuestionFileFormExample" >
    delete from t_question_file_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sys.spvisor.core.entity.project.TQuestionFileForm" useGeneratedKeys="true" keyProperty="id" >
    insert into t_question_file_form ( t_problem_id, t_type, 
      t_file_form_id)
    values ( #{tProblemId,jdbcType=INTEGER}, #{tType,jdbcType=INTEGER}, 
      #{tFileFormId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="sys.spvisor.core.entity.project.TQuestionFileForm" >
    insert into t_question_file_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tProblemId != null" >
        t_problem_id,
      </if>
      <if test="tType != null" >
        t_type,
      </if>
      <if test="tFileFormId != null" >
        t_file_form_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tProblemId != null" >
        #{tProblemId,jdbcType=INTEGER},
      </if>
      <if test="tType != null" >
        #{tType,jdbcType=INTEGER},
      </if>
      <if test="tFileFormId != null" >
        #{tFileFormId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sys.spvisor.core.entity.project.TQuestionFileFormExample" resultType="java.lang.Integer" >
    select count(*) from t_question_file_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_question_file_form
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tProblemId != null" >
        t_problem_id = #{record.tProblemId,jdbcType=INTEGER},
      </if>
      <if test="record.tType != null" >
        t_type = #{record.tType,jdbcType=INTEGER},
      </if>
      <if test="record.tFileFormId != null" >
        t_file_form_id = #{record.tFileFormId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_question_file_form
    set id = #{record.id,jdbcType=INTEGER},
      t_problem_id = #{record.tProblemId,jdbcType=INTEGER},
      t_type = #{record.tType,jdbcType=INTEGER},
      t_file_form_id = #{record.tFileFormId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sys.spvisor.core.entity.project.TQuestionFileForm" >
    update t_question_file_form
    <set >
      <if test="tProblemId != null" >
        t_problem_id = #{tProblemId,jdbcType=INTEGER},
      </if>
      <if test="tType != null" >
        t_type = #{tType,jdbcType=INTEGER},
      </if>
      <if test="tFileFormId != null" >
        t_file_form_id = #{tFileFormId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sys.spvisor.core.entity.project.TQuestionFileForm" >
    update t_question_file_form
    set t_problem_id = #{tProblemId,jdbcType=INTEGER},
      t_type = #{tType,jdbcType=INTEGER},
      t_file_form_id = #{tFileFormId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>